---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ContentArea from '../components/ContentArea.astro';
import ToastNotification from '../components/ToastNotification.astro';
import RefreshToast from '../components/RefreshToast.astro';
import BreadcrumbBar from '../components/BreadcrumbBar.astro';
import SemesterModal from '../components/SemesterModal.astro';

const navJsonUrl = `/api/rapor/data`;
---

<Layout title="Rapor SD">
  <div x-data="raporApp()" x-init={`initApp('${navJsonUrl}')`} class="flex flex-col min-h-screen">
    <Navbar />
    <ContentArea />
    <ToastNotification />
    <RefreshToast />
    <BreadcrumbBar />
    <SemesterModal />
  </div>
</Layout>

<script src="../scripts/app.ts"></script>
