---
// ToastNotification.astro
// Auto-hiding toast shown when a nav link is clicked
---

<div
  x-show="toastMessage !== ''"
  x-transition.opacity.duration.300ms
  class="fixed bottom-5 right-5 bg-atlantis-900 text-white py-3 px-5 rounded-lg shadow-lg z-50"
  style="display: none;"
>
  <p x-text="toastMessage"></p>
</div>
