---
import "../assets/app.css";

interface Props {
  title?: string;
}

const { title = 'Rapor SD' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Rapor SD - Sistem Penampil Rapor Sekolah Dasar" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>{title}</title>
    <script is:inline>
      let pwd = sessionStorage.getItem('app_password');
      if (!pwd) {
        pwd = prompt("Please enter the password to access the application:");
        if (pwd) {
          sessionStorage.setItem('app_password', pwd);
        } else {
          document.write('<div style="font-family: sans-serif; text-align: center; margin-top: 50px;">Access denied. Refresh to try again.</div>');
          window.stop();
        }
      }
    </script>
  </head>
  <body class="bg-atlantis-50">
    <slot />
  </body>
</html>